{% extends 'base.html' %}

{% block content %}
<h1>{{survey.title}}</h1>
{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}
<h3>Question {{qID + 1}} of {{qty}}: {{survey.questions[qID].question}}</h3>

<form action="/questions/answer" method="POST">
    {% for choice in survey.questions[qID].choices%}
    <input type="radio" name="{{choice}}">
    <label for="">{{choice}}</label>
    {% endfor %}

    <div>
        <button>Next</button>
    </div>
</form>


<!-- <form action="/questions/0">
    <button>Begin Survey!</button>
</form> -->
{% endblock %}